
header{
    display: flex;
    background-color: rgba(207, 220, 20, 0.2);
    padding: 5px 70px;
    justify-content: space-between;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 90%;
}

header ul{
    display: flex;
    gap: 40px;
}

header li{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: rgba(207, 220, 20, 0.3);
}

.titulo {
    text-align: center;
    font-size: x-large;
    align-items: center;
    height: 100vh;
}

.sobremim {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(207, 220, 20, 0.1);
}

.projetos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo img{
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.5);
}
